@import "tailwindcss";

@utility container {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

@theme{
  /* BREAKPOINTS START */
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-middle: 48rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  /* BREAKPOINTS END */

  /* COLORS START */
  --color-custom-dark: #2F2F2F;
  --color-custom-gray: #EBEBEB;
  /* COLORS END */
}